<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">SocialApp</a>
      <ul class="nav">
        <li><%= link_to "All Statuses", statuses_path %></li>
      </ul>
    </div>
  </div>
</div>
